.faqSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;

  .faqTitle {
    font-family: Georgia;
    font-size: 80px;
    text-align: center;
    max-width: 800px;
    margin: 2rem 0rem;
    font-family: 400;
  }

  .faqCollapse {
    border: none;
    width: 908px;
    :global(.ant-collapse-arrow) {
      background-color: black !important;
      color: white !important;
      padding: 5px;
      border-radius: 50%;
    }
    .faqPanel {
      border-bottom: 1px solid lightgray;
      margin-bottom: 0rem;
      padding-bottom: 0rem;

      .number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #d8c9ff;
        color: black;
      }
      :global(.ant-collapse-header) {
        font-weight: normal;
        align-items: center !important;
      }
    }
  }
}
.faqSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 50px 0px;

  .faqTitle {
    font-family: Georgia;
    font-size: 40px;
    // text-align: center;

    font-family: 400;
  }
  .faqTitle2 {
    // font-family:sans-serif  !important;
    font-weight: 400;
    font-size: 60px;
    // text-align: center;
  }
  .faqTitleText{
    width: 180px;
  }

  .faqCollapse {
    border: none;

    :global(.ant-collapse-arrow) {
      background-color: black !important;
      color: white !important;
      padding: 5px;
      border-radius: 50%;
    }
    .faqPanel {
      border-bottom: 1px solid lightgray;
      margin-bottom: 0rem;
      padding-bottom: 0rem;

      .number {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #d8c9ff;
        color: black;
      }
      :global(.ant-collapse-header) {
        font-weight: normal;
        align-items: center !important;
      }
    }
  }
}
.question {
  font-size: 26px;
}
.circleNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: #ede7fe;
  color: #333;
  margin: 20px 20px 20px 0px;
  font-size: 16px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}
.activeCircle {
  background-color: #b4a7ff !important;
  color: black !important;
}
.answerPanel {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 0px;
  font-size: 14px;
  margin-top: -40px;
}
