.checkoutContainer {
  padding: 30px;
}

.checkoutFormWrapper {
  padding: 30px;
  border-radius: 20px;
  background-color: white;
}

.checkoutTitle {
  margin-bottom: 30px !important;
  text-align: left;
  font-weight: 400 !important;
  font-size: 40px !important;
}
.formSection {
  margin-bottom: 20px;
}
.sectionTitle {
  margin-bottom: 20px !important;
  font-family: var(--font-lora) !important;
  display: inline-block; /* Needed for transform */
  transform: skewX(-3deg); /* Skews text by 20 degrees */
}
.sectionTitle21 {
  margin-top: 80px;
}
.rightRideBx {
  padding: 10px;
}
.checkoutForm,
.paymentForm {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.inputField {
  border-radius: 20px !important;
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  &::placeholder {
    font-size: 14px;
  }
}
.adressSection {
  border-top: 1px solid black;
  padding-top: 30px;
}
.inputFieldContainer {
  display: flex;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
  .inputField {
    margin-right: 20px;
  }
}
.priceText {
  padding: 0px 10px;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  b {
    font-family: var(--font-lora) !important;
    display: inline-block; /* Needed for transform */
    transform: skewX(-3deg); /* Skews text by 20 degrees */
  }
}
.orderConfirmationContainer {
  display: flex;
  justify-content: center;
}
.orderConfirmationContainer2 {
  display: flex;
  justify-content: center;
}
.orderConfirmationContainer2 {
  max-width: 700px;
  width: 100%;

  .checkoutFormWrapper {
    width: 100%;
  }
}
