.contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contactFormTitle {
  text-align: center;
  margin: 50px 0px;
  font-size: 70px !important;
  max-width: 800px;
}
.formWrapper {
  display: flex;
  justify-content: center;


  border-radius: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.formWrapper2 {
  padding: 20px;
  border-radius: 20px;
  background: #dadada;
}
.contactForm {
  width: 500px;
}
.formTitle {
  text-align: left;
  margin-bottom: 20px !important;
  font-size: 36px !important;
}
.inputField {
  border-radius: 30px !important;
  padding: 10px 20px !important;
  border: 1px solid rgb(212, 212, 212) !important;
}
.textAreaField {
  border-radius: 20px !important;
  padding: 10px 20px !important;
  border: 1px solid rgb(212, 212, 212) !important;
  min-height: 120px !important;
}
.submitButton {
  border-radius: 20px !important;
  background-color: #7e54f6 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  position: relative;

  border: none;
  border-color: transparent !important;
  box-shadow: 4px 4px black !important;
}
.submitButton:hover,
.submitButton:focus {
  background-color: #7e54f6 !important;
  color: white !important;
  border-color: transparent !important;
}
.submitButton:active {
  background-color: #5425d8 !important;
  color: white !important;
  border-color: transparent !important;
}
.arrowBtn {
  background-color: white;
  color: #7e54f6;
  position: absolute;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
